[Unit]
Description=IPMI Configurator
After=multi-user.target
[Service]
Type=oneshot
ExecStart=/usr/bin/ipmi_configurator.py -f /etc/ipmi-configurator/ipmi_sensors.ini
[Install]
WantedBy=multi-user.target
