[Unit]
Description=IPMI Configurator periodic execution
[Install]
WantedBy=timers.target
[Timer]
OnBootSec=1min
OnUnitActiveSec=1800sec
AccuracySec=300sec
